@charset "UTF-8";

/*
em HTML é id    = em CSS é #
em HTML é class = em CSS é .
*/

body {
    background-color: #5916F7;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #F98B1A;
}

h1#principal {
    text-align: center;
    background-color: white;
}

h2 {
    color: #16F732;
}